<p-toolbar styleClass="p-mb-4">
    <div class="navbar-left">
        <a routerLink="/" class="logo">
            <span style="color: #0984e3;">CAR</span>SELL
        </a>

    </div>

    <div class="navbar-right">
        <a routerLink="/home" class="nav-icon-link" title="瀏覽車輛">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125h9.75a1.125 1.125 0 001.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <span class="nav-icon-label">瀏覽車輛</span>
        </a>
        <a routerLink="/sell-car" class="nav-icon-link" title="賣車">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.002 0h-1.135a2.25 2.25 0 01-2.126-1.554L14.47 6.816A2.25 2.25 0 0012.446 5.25H7.594V5.412a2.25 2.25 0 011.082 2.069l.716 3.583A2.25 2.25 0 009.75 14.25H3.375M21.75 12a1.5 1.5 0 00-3 0m3 0a1.5 1.5 0 01-3 0m3 0h-3V9.45c0-1.04-.663-1.928-1.574-2.342L11.75 4.307a3.033 3.033 0 00-3.235-.494l-5 1.437V7.5M4.5 12.75v3.375c0 .621.504 1.125 1.125 1.125h12.75a1.125 1.125 0 001.125-1.125V12.75M12 9.75h.008v.008H12V9.75z" />
            </svg>
            <span class="nav-icon-label">賣車</span>
        </a>
        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/login" class="nav-icon-link" title="登入">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>
                <span class="nav-icon-label">登入</span>
            </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn$ | async">
            <a (click)="menu.toggle($event)" class="nav-icon-link" [title]="'歡迎, ' + ((user$ | async)?.name || '使用者')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0A8.966 8.966 0 0112 20.25a8.966 8.966 0 01-5.982-2.975M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="nav-icon-label">{{ (user$ | async)?.name || '使用者' }}</span>
            </a>
            <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
        </ng-container>
    </div>
</p-toolbar>