.main-container {
    min-height: calc(100vh - 70px);
    background-color: #f8f9fa;
    padding: 2rem;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}